body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .row {
    width: 100%;
    justify-content: center;
}

.phonebook .row {
    width: 100%;
    justify-content: left;
    align-items: center;
}

.phonebook {
    background-color: #111113;
    padding: 1.5rem 1.5rem;
    border: 1px solid #1F2029;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgb(255 255 255 / 20%);
    -webkit-box-shadow: 0 0 10px 0 rgb(255 255 255 / 10%);
    position: relative;
    color: #fff;
}

.phonebook .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
    z-index: 999;
}

.phonebook .body {
    overflow: auto;
    max-height: 70vh;
}
.phonebook table {
    border-collapse: collapse;
    width: 100%;
}

.phonebook .header p {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    letter-spacing: 2px;
}

.phonebook .header button {
    background-color: #2C2B30;
    color: #fff;
    padding: 0.4rem 1.3rem;
}

.phonebook thead {
    background-color: #111113;
    position: sticky;
    top: 0;
    z-index: 99;
}

.phonebook thead tr th {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 800;
    margin: 0;
    color: #fff;
    letter-spacing: 2px;
}

.phonebook tbody tr {
    position: relative;
}

.phonebook tbody tr:after {
    position: absolute;
    content: "";
    background-color: #212529;
    width: 300px;
    height: 1px;
    z-index: 3;
    bottom: 0;
    left: calc(50% - 150px);
}

.phonebook tbody td .user_image {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.phonebook tbody td p {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    color: #fff;
}

.phonebook tbody td .edit-contact,
.phonebook tbody td .delete-contact {
    text-decoration: none;
}

.phonebook tbody td .edit-contact img,
.phonebook tbody td .delete-contact img {
    width: 17px;
}

.phonebook tbody td .edit-contact img {
    filter: invert(44%) sepia(56%) saturate(3442%) hue-rotate(219deg) brightness(100%) contrast(102%);
}

.phonebook tbody td .delete-contact img {
    filter: invert(32%) sepia(46%) saturate(3663%) hue-rotate(326deg) brightness(102%) contrast(105%);
}

.phonebook .body label {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
}

.phonebook .body input[type="text"],
.phonebook .body input[type="email"],
.phonebook .body input[type="file"],
.phonebook .body input[type="number"]{
    border: 1px solid #2C2B30;
    height: 32px;
    font-size: 0.8rem;
    background-color: #111113;
    color: rgba(255, 255, 255, 0.8);
}

.phonebook .add-email,
.phonebook .add-phone{
    text-decoration: none;
    background-color: #6571FF;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.phonebook .add-email:hover,
.phonebook .add-phone:hover{
    background-color: #6528E0;
}

.phonebook .body #address-check {
    background-color: #111113;
    border-color: #6571FF;
}

.phonebook .body .save-btn {
    padding: 0.4rem 1.3rem;
}


.btn-vortex {
    background-color: #282D36 !important;
    border: 0 !important;
    color: #FFF;
    outline: none !important;
}

.btn-vortex:active,
.btn-vortex:focus,
.btn-vortex:focus-visible {
    border: 0 !important;
    outline: none !important;
}

.btn-vortex:hover, .btn-vortex.hover {
    background-color: #2E353E !important;
    border: 0 !important;
    color: #FFF;
    outline: none !important;
}

.btn-vortex-danger {
    background-color: #C21807 !important;
    border: 0 !important;
    color: #FFF;
    outline: none !important;
}

.btn-vortex-danger:active,
.btn-vortex-danger:focus,
.btn-vortex-danger:focus-visible {
    border: 0 !important;
    outline: none !important;
}

.btn-vortex-danger:hover,
.btn-vortex-danger.hover {
    background-color: #FF0000 !important;
    border: 0 !important;
    color: #FFF;
    outline: none !important;
}

.btn-vortex.dark-2:hover,
.btn-vortex.dark-2.hover {
    background-color: #242830 !important;
}
